# Node.js dependencies
node_modules/
.pnp/
.pnp.js

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.nyc_output/
coverage/
.temp/
.tmp/
temp/
tmp/

# Environment variables
.env
.env.*.local
.env.local

# Build artifacts
dist/
build/
out/

# IDE and OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test and development specific files
*.log
*.sqlite
*.sqlite3
*.sublime-project
*.sublime-workspace
*.history